#contact {
  margin-bottom: 8rem;
}

.contact__row {
  position: relative;
  overflow: hidden;
  display: grid;
  grid-template-columns: 4fr 3fr;
  align-items: center;
  gap: 4rem;
  max-width: 1400px;
  margin: auto;
  padding: 5rem 4rem;
  border-radius: 2rem;
  background-image: url("/img/man2.jpeg");
  background-size: cover;
}

.contact__row .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--blue-900);
  opacity: 0.85;
  pointer-events: none;
}

.contact__row div:nth-child(2) {
  position: relative;
  display: flex;
  flex-direction: column;
}

.contact__row div:nth-child(2) h2 {
  margin-bottom: 1.5rem;

  color: var(--neutral-50);
}

.contact__row div:nth-child(2) p {
  color: var(--neutral-200);
}

.contact__row div:nth-child(2) p strong {
  font-weight: 600;
}

.contact__row div:nth-child(2) img {
  max-width: 525px;
  margin-top: 2rem;
  border-radius: 1rem;
}

.contact__row div:last-child {
  width: 100%;
  margin: auto;
  padding: 3rem 2rem;
  border-radius: 1rem;
  border: 1px solid color-mix(in srgb, var(--neutral-50) 10%, transparent);
  background-color: color-mix(in srgb, var(--neutral-100) 10%, transparent);
  backdrop-filter: blur(10px);
}

.contact__row div:last-child h2 {
  margin-bottom: 1rem;
  text-align: center;
  text-transform: uppercase;
  color: var(--blue-50);
}

.contact__row div:last-child h2 span {
  color: var(--blue-500);
}

.contact__row div:last-child form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.contact__row div:last-child form input,
.contact__row div:last-child form textarea {
  border: 1px solid color-mix(in srgb, var(--neutral-50) 10%, transparent);
  color: #ffffff;
  background-color: color-mix(in srgb, var(--neutral-100) 10%, transparent);
}

.contact__row div:last-child form input::placeholder,
.contact__row div:last-child form textarea::placeholder {
  color: var(--neutral-400);
}

.contact__row div:last-child form button {
  width: 100%;
  color: var(--blue-950);
  background-color: var(--blue-50);
}
