@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

:root {
  --neutral-50: #fafafa;
  --neutral-100: #f5f5f5;
  --neutral-200: #e5e5e5;
  --neutral-300: #d4d4d4;
  --neutral-400: #a3a3a3;
  --neutral-500: #737373;
  --neutral-600: #525252;
  --neutral-700: #404040;
  --neutral-800: #262626;
  --neutral-900: #171717;
  --neutral-950: #0a0a0a;

  --blue-50: #eff6ff;
  --blue-100: #dbeafe;
  --blue-200: #bfdbfe;
  --blue-300: #93c5fd;
  --blue-400: #60a5fa;
  --blue-500: #3b82f6;
  --blue-600: #2563eb;
  --blue-700: #1d4ed8;
  --blue-800: #1e40af;
  --blue-900: #1e3a8a;
  --blue-950: #172554;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  border: 0 solid transparent;
}

::-moz-placeholder {
  opacity: 1;
}

html {
  -webkit-text-size-adjust: 100%;
}

body {
  min-height: 100vh;
  line-height: 1;
  text-rendering: optimizeSpeed;
}

input,
button,
textarea,
select {
  font: inherit;
  line-height: inherit;
  color: inherit;
}

textarea {
  resize: none;
}

[type="email"],
[type="number"],
[type="password"],
[type="tel"],
[type="text"],
textarea,
select {
  width: 100%;
  outline: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

[type="password"] {
  letter-spacing: 0.5px;
}

[type="password"]::placeholder {
  letter-spacing: normal;
}

[type="checkbox"],
[type="radio"] {
  outline: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

button,
[role="button"] {
  cursor: pointer;
  outline: 0;
  background-color: transparent;
  -webkit-tap-highlight-color: transparent;
}

img,
svg {
  display: block;
  max-width: 100%;
  pointer-events: none;
}

h1,
h2,
h3 {
  font-size: inherit;
  font-weight: inherit;
}

a {
  cursor: pointer;
  font-family: inherit;
  color: inherit;
  text-decoration: inherit;
  -webkit-tap-highlight-color: transparent;
}

ol,
ul {
  list-style: none;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

body {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  background-color: var(--neutral-50);
}

h1 {
  font-size: 3.5rem;
  line-height: 4rem;
  font-weight: 600;
}

h2 {
  font-size: 2rem;
  line-height: 2.25rem;
  font-weight: 700;
  letter-spacing: 0.5px;
}

h3 {
  font-size: 1.25rem;
  line-height: 1.5rem;
  font-weight: 600;
}

p,
a {
  font-size: 1.125rem;
  line-height: 1.75rem;
  font-weight: 300;
}

button {
  display: block;
  width: fit-content;
  padding: 1rem 1.5rem;
  border-radius: 0.5rem;
  font-size: 1.125rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  color: #000000;
  background-color: var(--neutral-50);
}

input,
textarea {
  padding: 0.5rem 0.75rem;
  border-radius: 0.5rem;
  font-size: 1rem;
  font-weight: 400;
  color: var(--neutral-950);
  background-color: var(--neutral-50);
}
